doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Why I Built Snorby and the Future of Security Interfaces

    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic|Satisfy' rel='stylesheet' type='text/css'>
    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section(data-bespoke-state='blue')
        h1 Snorby & Security Interfaces

      section(data-bespoke-state='green')
        h1 I'm Dustin Willis Webber
        h3 aka <strong>@mephux</strong> on twitter.

      section(data-bespoke-state='orange')
        h4 
          strong <strong>Who</strong> / <b>What</b> / <em>Why?</em>
        ul
          li Open source developer (Snorby, Komanda etc..)
          li <em>Hipster?</em>
          li Designer (application interfaces)
          li I've built stuff you may have used. (Mandiant, Tenable...)
          li Entrepreneur (startups and stuff)
          li <strong>BUT</strong> most importantly...

      section(data-bespoke-state='red')
        h2 I'm overly opinionated <strong> but not ignorant</strong>

      section(data-bespoke-state='do-what-i-want')

      section(data-bespoke-state='pink')
        h1 We got problems dawg.
        ul
          li Security has become a <strong>used car lot</strong>
          li Useless metrics <strong>pollute</strong> our <strong>interfaces</strong>
          li nothing has <strong>structure</strong>
          li <strong>we</strong> are spinning in place
          li <em>but chill... we'll get to that</em>

      section(data-bespoke-state='chill2')

      section(data-bespoke-state='blue')
        h4 Snorby <em>All About Simplicity</em>
        ul
          li Born in 2009 while I hated my job.
          li Open Source - For the love of it.
          li Simple with a bit of structure
          li Was designed for our clients. Explain...
          li A lot of fun and how I learned to program

      section(data-bespoke-state='snorby')

      section(data-bespoke-state='red')
        h1 For The <b>Noobs</b>
        ul
          li Reads IDS events from a database
          li Simple (worthless?!?) metrics
          li Plugin to view transcript and pcap data
          li Easy to deploy - yes, it is.
          li BASE replacment I guess.
          li Not ugly <em>more important than you would think</em>

      section(data-bespoke-state='orange')
        h1 The <b>Good</b>
        ul
          li Classify Events
          li Notes, Favorite & Remember
          li Plugins (kinda?)
          li Simple Time based metrics
          li Reporting, mostly useful for export needs
          li Not ugly <em>more important than you would think</em>

      section(data-bespoke-state='green')
        h1 The <b>Bad</b>
        ul
          li FUCKING WEB SCALE!@#!@#!@#!@#!@#!
          li Database fails...
          li Ruby/Rails
          li Not Ugly... huh?

      section(data-bespoke-state='pink')
        h1 The Future of "<i>Snorby</i>"
        ul
          li Go-lang (http://www.golang.org)
          li WORKFLOW.. SRSLY.. THIS IS IMPORTANT
          li i'm calm now.. we'll talk about that more later.
          li Performance
          li It's still going to be pretty
          li Collaboration
          li New Name, Project and new Reasons for making it.

      section(data-bespoke-state="dance")
        h1 It's <b>Secret</b> Still!

      section(data-bespoke-state="red")
        h1 WTF is <strong>Go</strong>?

      section(data-bespoke-state="red")
        h1 Well...
        ul
          li It's Amazing
          li All about concurrency
          li C type performance (kinda) but easy to write. Srsly (real talk).
          li If you use python or ruby.. I suggest learning this instead.
          li The language of the cloud
          li Large community and growing..

      section(data-bespoke-state="pink")
        h1 Go <b>Channels</b>
        pre
          code.language-javascript.
            package main
            import "fmt"

            func main() {
                messages := make(chan string)
                go func() { messages <- "ping" }()
                msg := <-messages
                fmt.Println(msg)
            }

      section(data-bespoke-state="blue")
        h1 Channel <b>Buffering</b>
        pre
          code.language-javascript.
            package main

            import "fmt"

            func main() {
                messages := make(chan string, 2)

                messages <- "buffered"
                messages <- "channel"

                fmt.Println(<-messages)
                fmt.Println(<-messages)
            }

      section(data-bespoke-state="omg")
        h1 OMG!!!

      section(data-bespoke-state="pink")
        h1 So, Yea... That's what's <b>up</b>.

      section(data-bespoke-state='chill')

      section(data-bespoke-state="pink")
        h1 Question <b>#1</b>
        ul
          li Is the security software we buy garbage?
          li or is it?
          li <strong>I'm just asking questions!</strong>

      section(data-bespoke-state='smurf')

      section(data-bespoke-state="pink")
        h1 Question <b>#2</b>
        ul
          li Did large security companies destroy your industry 
          li with bullshit marketing and shitty products?
          li or did they?
          li <strong>I'm just asking questions!</strong>


      section(data-bespoke-state='question2')

      section(data-bespoke-state="red")
        h1 So, <b>Beef</b> with the current
        ul
          li Tables? Let's Talk.
          li Unstructured data
          li ... chill.. only in an Unstructured View
          li Metrics.. we have science now y'all
          li We have a job to do
          li This isn't a Sunday drive.

      section(data-bespoke-state="pink")
        h1 <strong>TABLES</strong>... NO... bad designer!

      section(data-bespoke-state='NO')

      section(data-bespoke-state="orange")
        h1 Tables <strong>!=</strong> Efficient
        ul
          li Big Data.. BUZZWORD!!
          li Does pagination make sense still?
          li Filters.. It's like the new hot
          li Splunk, Arcsight, kibana..
          li WORTHLESS - Unless you like wasting time.
          li It's the applications problem to solve.

      section(data-bespoke-state="green")
        h1 <b>Unstructured</b> Data
        ul
          li Collect Everything... cool.
          li Search anything... cool.
          li get work done... fail.
          li workflow... fail.
          li context... fail.
          li interface design fails.. OMG YES!

      section(data-bespoke-state="blue")
        h1 <strong>Work</strong><b>Flow</b>
        ul
          li X + Y = ???
          li Track The Incident
          li Metrics and History
          li Parallelism
          li Reporting Becomes Simple 

      section(data-bespoke-state="blue")
        h1 <b>Context</b>
        ul
          li X + Y = ??? <i>same concept</i>
          li Designed To Search - Not Connect 
          li pivoting
          li A lot can be automated 
          li Storytelling 

      section(data-bespoke-state="green")
        h1 Tell a <b>Story</b>
        ul
          li design your interface to tell a story 
          li steps to follow for value add 
          li lead the user and push a process
          li don't over do it

      section(data-bespoke-state="red")
        h1 SAVE <b>TIME</b>
        ull
          li More Reporting and Less Searching 
          li Visualizations need to be interpreted (more) 
          li Wordflow, Context and Process speed up response
          li We are going the wrong way.

      section(data-bespoke-state="orange")
        h1 <b>current</b> trends 
        ul
          li Search, Search.. more search.. all the data 
          li Store all your structured and unstructured data! 
          li General search and display interfaces
          li Dynamic charts by type.

      section(data-bespoke-state="blue")
        h1 My <b>philosophy</b> on this

      section(data-bespoke-state="blue")
        h1 <b>Tools</b> VS <b>Applications</b>
        ul
          li Tools: search - Applications: find
          li Tools: export - Applications: create 
          li Tools: Empower - Applications: Have Power 
          li Both are great in the right situations 

      section(data-bespoke-state="green")
        h1 <b>Science</b> & <strong>Stuff</strong>
        ul
          li behavioral profiling 
          li pattern anomalies 
          li Connecting the right bits 
          li ultimately producing better results
          li false positives

      section(data-bespoke-state="red")
        h1 <strong>wtf</strong> does this have 
        h1 to do with <b>interfaces</b>?
        
      section(data-bespoke-state='dance2')

      section(data-bespoke-state="red")
        h1 <b>everything</b> 

      section(data-bespoke-state="red")
        h1 Your <strong>Interface</strong> Sucks
        ul
          li If you don't have the right data to show.
          li If you simply return data and walk away
          li If you don't offer value outside of storage
          li If your metrics are ridiculous *cough*Snorby*cough*
          li A good interface has nothing to do with design
          li but trust me.. its still very important too.

      section(data-bespoke-state="orange")
        h1 Ok, back to <b>Snorby</b>

      section(data-bespoke-state="blue")
        h1 Lessons <b>Learned</b> 
        ul
          li Finding problems to solve is not always easy
          li There is a lot of room for more applications in OSS
          li Workflow needs a bigger spotlight imho.
          li Answer questions before they are asked (if possible)

      section(data-bespoke-state="green")
        h1 So, security <strong>interface</strong> design
        ul
          li Should be foced around a process
          li Should filter and ask questions vs paging data
          li Should still have metrics and dashboard but with more insight
          li Should use new technology and mathematics to focus your telescope
          li Should be ready for collaboration

        
      section(data-bespoke-state="blue")
        h1 <b>Questions?</b>

    script(src='build/build.js')
